openapi: 3.0.9
info:
  title: Communication Interaction
  version: '1.0'
  x-logo:
    url: ''
servers:
  - url: 'https://accounts.gigya.com'
    description: ''
    x-last-modified: 1633814282661
components:
  schemas:
    UnauthorizedError:
      description: Access token is missing or invalid.
    identity-email:
      type: object
      properties:
        identity:
          type: object
          properties:
            email:
              type: string
          required:
            - email
    identity-phone:
      type: object
      properties:
        identity:
          type: object
          properties:
            phonrnumber:
              type: string
          required:
            - phonrnumber
    SchemaDefinition:
      properties:
        channel:
          type: string
      discriminator:
        propertyName: channel
        mapping:
          email: '#/components/schemas/EmailSchema'
          sms: '#/components/schemas/SmsSchema'
      allOf:
        - anyOf:
            - $ref: '#/components/schemas/EmailSchema'
            - $ref: '#/components/schemas/SmsSchema'
      x-examples:
        email-channel:
          channel: email
          identity:
            email: a@mail.com
          newsletter: true
          deals: true
        phone-channel:
          channel: phone
          identity:
            phonenumber: '056999999'
          newsletter: true
    EmailSchema:
      allOf:
        - $ref: '#/components/schemas/identity-email'
        - type: object
          properties:
            'newsletter':
              type: boolean
              title: Newsletter
            'deals':
              type: boolean
              title: Deals
      type: object
    SmsSchema:
      type: object
      allOf:
        - $ref: '#/components/schemas/identity-phone'
        - type: object
          properties:
            'newsletter':
              type: boolean
              title: Newsletter
    Interaction:
      properties:
        interactionId:
          type: string
        transactionId:
          type: string
  securitySchemes:
    oAuth2Confirm:    # <---- arbitrary name
      type: oauth2
      description: This API uses OAuth with the implicit grant flow.
      flows:
        implicit:
          authorizationUrl: /oauth2/authorize
          scopes:
            interaction:confirm:  confirm interaction
security:
  - oAuth2Confirm:
      - interaction:confirm


paths:
  /accounts/v1/me/interactions/{interaction-config}/schema:
    summary: Interaction Schema
    get:
      operationId: InteractionSchema
      description: 'schema'
      parameters:
        - in: path
          name: interaction-config
          required: true
          schema:
            type: string
          example: sigh-up-form
      responses:
        '200':
          description: Submit form schema
          content:
            application/json:
              schema:
                type: object
                example: /signup-form.json

  /accounts/v1/me/interactions/{interaction-config}:
    summary: Communications Interaction
    post:
      operationId: SubmitInteraction
      description: 'Submit interaction form'
      parameters:
        - in: path
          name: interaction-config
          required: true
          schema:
            type: string
          example: sigh-up-form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchemaDefinition'
            examples:
              email-channel:
                value:
                  channel: email
                  identity:
                    email: email@mail.com
                  newsletter: true
                  deals: true
              phone-channel:
                value:
                  channel: sms
                  identity:
                    phonenumber: 0543332123
                  newsletter: true
      responses:
        '201':
          description: Submit form
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interaction'
          links:
            InteractionLink:
              operationId: ConfirmInteraction
              parameters:
                interactionId: '$response.body#/interactionId'
              description: A uuid to confirm the intraction and update the account

  /accounts/v1/me/interactions/{interaction-config}/{interactionId}/confirm:
    put:
      security:
        - oAuth2Confirm:
            - interaction:confirm

      operationId: ConfirmInteraction
      description: Commit the interaction and update the account.
      parameters:
        - in: path
          name: interactionId
          required: true
          schema:
            type: string
        - in: path
          name: interaction-config
          required: true
          schema:
            type: string
          example: sigh-up-form
      responses:
        '200':
          description: Ok, account updated with specfic transction details.
        '401':
          description: Access token is missing or invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_uri:
                    type: string
                    example: urn:transaction:bwc4JK-ESC0w8acc191e-Y1LTC2
                  expires_in:
                    type: integer
                    example: 60
          links:
            AuthorizationRequest:
              operationId: AuthorizationRequest
              parameters:
                request_uri: '$response.body#/request_uri'
              description: A uuid to commit the transaction and update the account

  /oauth/authorize/{request_uri}:
    post:
      parameters:
        - in: path
          name: request_uri
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Token created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  expires_in:
                    type: integer
                    example: 60

tags: []
